{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'Styles/login.css' %}"> 
</head>
{% if validlink %}
<form method="post" class="login-form">
    {% csrf_token %}

    {% if form.errors %}
        <div style="color: #721c24; background-color: #f8d7da; padding: 10px; border-radius: 4px; margin-bottom: 20px;">
            {{ form.errors }}
        </div>
    {% endif %}

    <label for="id_new_password1" class="form-label">Nueva contraseña</label>
    <input type="password" name="new_password1" id="id_new_password1" class="form-input" required>

    <label for="id_new_password2" class="form-label">Confirme su nueva contraseña</label>
    <input type="password" name="new_password2" id="id_new_password2" class="form-input" required>

    <button type="submit" class="login-button">Actualizar Contraseña</button>
</form>
{% else %}
<div class="container">
    <div class="login-section">
        <div class="login-box"> 
            <div class="confirmation-box">
                <p> El link para el cambio de contraseña es invalido o ha caducado, vuelva al inicio y solicite otra vez el cambio de contraseña</p>
                <div class="login-section">
                    <a href="{% url 'login' %}" class="login-button">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}