{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'Styles/login.css' %}"> 
</head>
<div class="container">
    <div class="login-section">
        <div class="login-box"> 
            <div class="confirmation-box">
                
                <h2 class="confirmation-title">Su contraseña se ha reestablecido</h2>
                
                <p class="login-instruction">
                    Ya puede iniciar sesión
                    <div class="login-section">
                        <a href="{% url 'login' %}" class="login-button">Iniciar sesión</a>
                    </div>
                    
                </p>
            </div>
        </div>
    </div>
</div>