{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'Styles/login.css' %}"> 
</head>
<div class="container">
    <div class="image-section">
            <img src="{% static 'img_login.jpg' %}" alt="Edificio institucional">
        </div>

    <div class="login-section">
        <div class="login-box"> 
            <div class="confirmation-box">
                <div class="email-icon-wrapper">
                    <img src="{% static 'img_sobre.png' %}" alt="Email">
                </div>
                
                <h2 class="confirmation-title">Compruebe su bandeja de entrada</h2>
                
                <p class="login-instruction">
                    Hemos enviado un correo a su dirección de correo electrónico, 
                    no olvide revisar la bandeja de spam en caso de no ver el correo.
                </p>
            </div>
        </div>
    </div>
</div>