{% load static  %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    
    <link rel="stylesheet" href="{% static 'Styles/login.css' %}">

</head>
<body>  
    <div class="container">
        <div class="image-section">
            <img src="{% static 'img_login.jpg' %}" alt="Edificio">
        </div>
        <div class="login-section">
            <div class="login-box">
                <h1 class="welcome-title">¡Le damos la bienvenida!</h1>
                <p class="login-instruction">Inicie sesión en su cuenta</p>
                <form action="#" method="post" class="login-form">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" id="email" name="email" class="form-input" required>
                    
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-input" required>
                    <a href="#" class="forgot-password">¿Olvidó su contraseña?</a> 
                </form>

                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="login-button">Iniciar sesión</button>
                </form>                
                
                <div class="no-account-box">
                    <h2 class="no-account-title">¿No tienes una cuenta?</h2>
                    <p class="no-account-text">
                        En caso de no tener una cuenta debe ponerse en contacto con el administrador general del sistema.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>