{% load static  %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    
    <link rel="stylesheet" href="{% static 'Styles/login.css' %}">

</head>
<body>  
    <div class="container">
        <div class="login-section">
            <div class="login-box">
                <h1 class="welcome-title" style="text-align: center; color: #7DC8B2;">EXPEDIENTE <span style="color: #000000;">ACADÉMICO</span>
                </h1>
                <p class="login-instruction" style="text-align: center; color: #ACADAC; font-size: 1.3rem;">Sistema de Gestión Administrativa</p>
                <form action="#" method="post" class="login-form">
                    {% csrf_token %}
                    <input type="email" id="email" name="email" class="form-input" placeholder="Usuario">
    
                    <input type="password" id="password" name="password" class="form-input" placeholder="Contraseña" required>
                    <a href="{% url 'password_reset' %}" class="forgot-password";">¿Olvidó su contraseña?</a>                    
                    <button type="submit" class="login-button">INGRESAR</button action="{% url 'home' %}" method="post">
                </form>                
                
                <div class="no-account-box">
                    <h2 class="no-account-title">¿No tienes una cuenta?</h2>
                    <p class="no-account-text">
                        En caso de no tener una cuenta debe ponerse en contacto con el administrador general del sistema.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>